@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

img {
    max-width: 100%;
}

#mainn{
    width: 100%;
    
    
}

.main {
    margin-top: 4em;
    margin-inline: auto;
    position: relative;
}

.share {
    position: absolute;
    right: 25%;
    top: -0.5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 0.5px solid #D0D5DD;
}

.ellipsis{
    display: none;
}

.share svg {
    color: #98A2B3;
}

#twitter {
  margin-top: 1.25em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.83em;
  text-align: center;
  color: #101828;
}

#slack{
    visibility: hidden;
}

@media(max-width: 1020px){
    .share{
        display: none;
    }
    .ellipsis{
        display: block;
        position: absolute;
        right: 5%;
        top: -0.5em;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        border: 0.5px solid #D0D5DD;
    }

    .share svg{
        color: transparent;
    }
    
}
