@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

hr{
    width:  90%;
    opacity: 0.5;
    margin: 4em auto;
}

#footer{
    width: 90%;
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hng{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
}

@media(max-width: 720px){
    #footer{
        width: 90%;
        margin: 4em auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
}